div .graph {
    position: relative;
    left: 8vw;
    background: black;
    width: 60vw;
    height: 40vh;
    color: black;
}
div.bars {
    height: 100%;
}

ul.bar-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'a0 a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11 a12 a13 a14 a15 a16 a17 a18 a19';
    grid-gap: 1vw;
    height: 100%;
    padding: 0 2vw;
    position: relative;
    margin: auto;
}

li.bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: greenyellow;
    height: 100%;
}