body {
    font-family: 'Roboto Mono', monospace;
    background: black;
    text-align: center;
    color: white;
}

header {
    color: white;
    font-size: 1.3em;
}

.graph {
    background:rgba(255, 255, 255, 0.12);
}

.algorithm-list-section h2 {
    font-size: 2em;
}

.info-section {
    background: black;
}

li.bar {
    background: greenyellow;
    color: rgba(172, 255, 47, 0);
}

button {
    background: black;
    color: white;
    font-size: 1.1em;
    transition: all .2s ease-in-out;
    border: 1px dotted white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

li {
    list-style-type: none;
}


.algorithm-uls li {
    transition: all .2s ease-in-out;
}

.algorithm-uls li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.blue {
    color:rgb(0, 238, 255);
}

.dark-blue {
    color: rgb(48, 22, 165);
}

.purple {
    color: rgb(236, 61, 236);
}

.yellow {
    color: yellow;
}

.pink {
    color: rgb(255, 55, 88);
}

.orange {
    color: rgb(241, 103, 53);
}

.green {
    color: green;
}